.depoimentos{
  background-color: $cor-principal;
  background-image: url('../img/cabecalho-pagina-bg.jpg');
  color: #fff;
  background-attachment: fixed;
  padding: 30px 0;
 &__caixa{
  margin: 0 auto;
  max-width: 720px;
}
 &__img{
  margin: 0 auto;
  display: block;
  box-shadow: 3px 3px 0 #000;
  margin-bottom: 30px;
}
 &__pessoa{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
 &__texto::before{
  content: '';
  background: url('../img/aspas.png') no-repeat;
  display: inline-block;
  width: 25px;
  height: 23px;
  margin-right: 5px;
}
 &__texto{
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
}
  @media(min-width: $breakpoint-md){
    padding: 150px 0;
  &__img{
      float: left;
      margin-right: 15px;
    }
  &__pessoa{
    text-align: left;
  }
  }
}
