.logo{
  background-image: url("../img/logotipo-preto.png");
  background-repeat: no-repeat;
  display: block;
  margin:0;
  width: 120px;
  height: 53px;
  text-indent: -9999px;
}
.logo--branco{
  background-image: url("../img/logotipo-branco.png");
}
