.cabecalho{
  background: #fff;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  @media(min-width: $breakpoint-md){
    min-height: 100px;
    .logo{
      float: left;
      margin-top: 10px;
    }
    .menu-principal{
      float: right;
      margin-top: 12px;
      &__lista{
        margin-bottom: 0 ;
      }
    }
  }
}
