.rodape{
  color: #fff;
}
.rodape__linha-1{
  background-color: #272525;
  padding: 15px;
  background-image: url("../img/rodape-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  @media(min-width: $breakpoint-md){
      background-image: url('../img/rodape-bg-xl.jpg');
  }
}
.rodape__linha-2{
  background-color: #000;
  text-align: center;
  padding: 15px;
}
.rodape__titulo{
  border-bottom: 1px solid #fff;
  padding: 0 10px 10px 10px;
  font-size: 18px;
}
.rodape__lista-links{
  padding: 0;
  list-style: none;
}
.rodape__lista-links__item{
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
.rodape__lista-links__item::before{
  content: ">";
  margin-right: 8px;
  color: $cor-principal;
}
.rodape__coluna{
  margin-top: 40px;
  margin-bottom: 40px;
  @media(min-width: $breakpoint-md){
      float: left;
      width: 33.33%;
      padding: 0 20px;
  }
}
