.lista_trabalho{
    list-style: none;
    padding: 0;
    margin-top: 80px;
    &__img{
      width: 100%;
      height: auto;
      display: block;
  }
    &__item{
    padding-right: -15px;
    padding-left: -15px;
    margin-bottom: 50px;
  }
    &__titulo{
    font-size: 18px;
    margin-left: 15px;
    color: #000;
    border-left: 1px solid #000;
    padding-left: 10px;
  }
    &__item a{
    text-decoration: none;
  }
  @media(min-width: $breakpoint-md){
    &__item{
      margin: 0;
      float: left;
      width: 50%;
      background-color: $cor-principal;
      position: relative;
      overflow: hidden;
      &:hover{
        .lista_trabalho__img{
          opacity: 0.1;
          transform: scale(1.5);
        }
        .lista_trabalho__titulo{
          opacity: 1;
        }
      }
    }
    &__img{
      opacity: 1;
      transition: all 200ms ease;
    }
    &__titulo{
      color: #fff;
      margin: 0;
      padding: 0;
      border: 0;
      text-align: center;
      position: absolute;
      top: 40%;
      left: 0;
      font-size: 22px;
      width: 100%;
      background: url('../img/icone-olho.png') no-repeat bottom center;
      padding-bottom: 35px;
      opacity: 0;
      transition: opacity 200ms ease;
    }
  }
  @media(min-width: $breakpoint-lg){
    &__item{
      width: 33.333%;
    }
  }
}
